.link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
}

.link div {
    display: none;
    position: relative;
    position: absolute;
    text-align: center;
    background-color: rgba(162, 190, 212, 0.401);
    color: rgb(61, 60, 60);
    padding: 2px;
    width: 82px;
    border-radius: .375rem;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    border: 1px solid rgba(0, 0, 0, 0.331);
}

.link:hover #linkedin,
.link:hover #github,
.link:hover #email,
.link:hover #curriculum {
    display: block;
    top: 2.7rem;
    left: -25px;
}

#linkedin::after,
#github::after,
#email::after,
#curriculum::after {
    content: " ";
    position: absolute;
    top: -6px;
    left: 0;
    margin-left: 44%;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid black;
}



/* ACIMA CORRIGINDO O NOME DOS ICONES */

.wallpaper {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(122, 174, 213);
    /* background: linear-gradient(180deg, rgba(122, 174, 213, 1) 0%, rgba(188, 213, 225, 1) 45%, rgba(237, 234, 228, 1) 75%, rgba(229, 222, 208, 1) 99%); */
    /* a cor de cima já estava top */
    /* background: rgb(237, 234, 228);
    background: linear-gradient(180deg, rgba(237, 234, 228, 1) 0%, rgba(255, 255, 255, 1) 20%); */
    /* background: linear-gradient(180deg, rgba(122, 174, 213, 1) 0%, rgba(188, 213, 225, 1) 30%, rgba(237, 234, 228, 0.8) 70%, rgba(229, 222, 208, 0.1) 100%); */
    background: linear-gradient(180deg, #7aaed5 0%, #bcd5e1 45%, #e5ded0 75%, #edeae4 100%);
}

#backup-gradient {

    background: linear-gradient(180deg, #7aaed5 0%, #bcd5e1 45%, #edeae4 75%, #e5ded0 100%);
}

.wallpaper>img {
    max-width: 150%;
    min-width: 110%;
}

.logo {
    position: absolute;
    margin: 1rem;
    margin-top: 3rem;
    margin-left: 2.5rem;
}

.logo>img {
    border-left: 1px solid;
    border-bottom: 2px solid;
    border-radius: 20px
}

.language {
    position: absolute;
    right: 0;
    top: 0;
    /* bottom: 1.6rem; */
    margin-top: 3rem;
    margin-right: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-select {
    border: 1px solid rgba(0, 0, 0, 0.082);
    background-color: rgba(255, 255, 255, 0);
    /* border: 0; */

    font-size: .8rem;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: .2rem;
    font-weight: 300;

}

.intro {
    position: absolute;
    width: 100%;
    top: 35%;
    text-align: center;
}

.greetings {
    font-size: 1.5rem;
}

.name {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: 100;
    font-family: 'Mansalva', cursive;
}

.profession {
    position: relative;
    width: 100%;
    margin-top: 3rem;
    letter-spacing: .25rem;
    font-size: 1.0rem;
    font-weight: 600;
    font-family: 'Arima', cursive;
    color: rgb(50, 50, 50);
}

.profession::before {
    content: " ";
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 35%, rgba(112, 112, 112, 0.682) 45%, rgba(112, 112, 112, 0.682) 55%, rgba(255, 255, 255, 0) 65%);
}

/* rgba(0, 0, 0, 0.082); */


.arrow-section {
    position: absolute;
    bottom: 0.05rem;
    width: 100%;
}


.arrow-down {
    width: 0;
    height: 0;
    margin: 0 auto;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgb(0, 0, 0);
}

.arrow-scrolldown {
    position: relative;
    top: -34px;
    font-size: 0.6rem;
    letter-spacing: .25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: 100;
}









/* COPIADO */
/* COPIADO */
/* COPIADO */
/* COPIADO */
.connect-links {
    /* COPIADO */
    margin-top: 20px;
    min-height: 40px;
}

.connect-links>.link {
    margin: 0;
    margin: 0 15px 0 15px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    height: 35px;
    width: 35px;
}

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    fill: rgb(50, 50, 50);
    color: #000;
    margin: 7px auto;
}

.caption,
.icon {
    text-align: center;
}


.connect-links>.link:hover>.icon {
    fill: rgb(0, 0, 0);
    /* height: 18px;
    width: 18px; */
}

.connect-links>.link:after,
.connect-links>.link:before {
    position: absolute;
    opacity: 0;
    transition: opacity .15s linear, transform .15s linear, -webkit-transform .15s linear;
    transform: translate3d(0, -8px, 0);
}

.connect-links>.link:after {
    content: "";
    top: 35px;
    left: 13px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid #222;
    z-index: 100;
}

@media screen and (max-width: 457px) {
    .intro {
        top: 35%;
    }
}