/* landscape size A  OR tablet size A*/
@media (min-width: 1025px) {

    /***-------------------------------------------------------
        start
-------------------------------------------------------***/
    html {
        scroll-snap-type: mandatory;
        scroll-snap-points-y: repeat(100vh);
        scroll-snap-type: y mandatory;
    }

    section {
        position: relative;
        height: 100vh;
        scroll-snap-align: start;
        scroll-behavior: smooth;
    }

    .hidden {
        display: initial;
    }

    /***-------------------------------------------------------
        HEADER
-------------------------------------------------------***/
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: .5rem 0;
    }

    .logo {
        display: initial;
        margin-left: 1rem;
        padding: 1rem;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .logo>p {
        margin: 0;
        padding: 0;
    }


    /***-------------------------------------------------------
        HEADER HAMBURGUER
--------------------------------------------------------***/
    #menuToggle {
        display: none;
    }

    nav {
        position: initial;
        display: block;
        opacity: 1;
        margin: 0;
        padding: 0;
        padding: 1rem;
        width: auto;
        height: auto;
        font-size: 1rem;
        background-color: initial;
    }

    .nav-content-hidden {
        opacity: 1;
        transform: translate(0, -0%);
        -webkit-transition: .9s 0s ease-in-out;
        transition: .9s 0s ease-in-out;
    }

    .nav-content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: rgba(0, 0, 0, 0.6);
    }

    .nav-item {
        padding: 0 1rem;
        font-size: 1.1rem;
    }

    .nav-item>a:hover {
        color: var(--default-link-color);
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 0.75rem;
    }

    .nav-item-select {
        padding: 0 1rem 1rem 0;
    }


    .form-select {
        margin-top: 0.9rem;
        font-size: 0.9rem;
        border: 1px solid rgba(0, 0, 0, 0.082);
    }


    .form-select:hover {
        color: var(--default-link-color);
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    }

    .hidden-menu {
        display: none;
    }

    /***-------------------------------------------------------
        SECTION
--------------------------------------------------------***/
    .section-wallpaper {
        height: 100%;
    }

    .section-content {
        max-width: 90%;
        height: 100%;
        margin: 0 auto;
    }

    .content-area {
        height: calc(100% - 55px - 93.73px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h2 {
        margin: 0 5%;
    }

    /***-------------------------------------------------------
        COVER
--------------------------------------------------------***/

    .cover-card-name {
        font-size: 5vw;
    }

    .cover-card-profession {
        margin-top: 2rem;
        letter-spacing: .4rem;
        font-size: 1.5vw;
    }

    /***-------------------------------------------------------
        ABOUT & SKILLS
-------------------------------------------------------***/

    .about-card-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-card-txt>p {
        padding: 0;
    }

    .about-card-img>img {
        max-width: 80%;
        float: right;
    }

    .skills-card {}

    .skill-card {
        margin: 1rem;
        padding: 2rem;
    }

    .skill-card>h3 {
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .skill-card>p {
        margin-top: 0;
        margin-bottom: 0;
    }


    /***-------------------------------------------------------
        SHOWCASES
-------------------------------------------------------***/
    .showcase-card-img>img {
        max-width: 70%;
    }

    .showcase-card-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .showcase-card-txt>h3 {
        color: var(--default-main-color-black);
    }

    .showcase-card-txt>p {
        max-width: 90%;
    }

    /***-------------------------------------------------------
    PROJECTS
    -------------------------------------------------------***/

    .project-card {
        flex: 1 20%;
        margin: 1rem;
        padding: 1rem;
        max-width: 21vw;
        height: 22vh;
        max-height: 22vh;

    }

    /***-------------------------------------------------------
    CONTACT
    -------------------------------------------------------***/
    #contact {
        height: 100vh;
    }

    .contact-card {
        width: 100%;
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
    }

    /***-------------------------------------------------------
        FOOTER
--------------------------------------------------------***/


    /***-------------------------------------------------------
        flickity
-------------------------------------------------------***/
    .flickity-page-dots {
        position: absolute !important;
        margin-bottom: -70px !important;
    }

    .flickity-prev-next-button.previous {
        display: initial !important;
        left: -100px !important;
    }


    .flickity-prev-next-button.next {
        display: initial !important;
        right: -100px !important;
    }

    /***-------------------------------------------------------
        END
-------------------------------------------------------***/
}