/* landscape size A  OR tablet size A*/
@media (orientation: landscape) and (min-width: 640px),
(min-width: 768px) and (max-width: 1024px) {
    /***-------------------------------------------------------
        start
-------------------------------------------------------***/


    /***-------------------------------------------------------
        HEADER
-------------------------------------------------------***/


    /***-------------------------------------------------------
        HEADER HAMBURGUER
--------------------------------------------------------***/


    /***-------------------------------------------------------
        SECTION
--------------------------------------------------------***/


    /***-------------------------------------------------------
        COVER
--------------------------------------------------------***/

    .cover-card-name {
        font-size: 7vw;
    }

    .cover-card-profession {
        letter-spacing: .2rem;
        font-size: 3vw;
    }

    /***-------------------------------------------------------
        ABOUT & SKILLS
-------------------------------------------------------***/
    .about-card {
        display: flex;
    }

    .about-card>div {
        max-width: 50%;
    }

    .about-card-txt>p {
        padding-right: 1rem;
        margin-top: 0;
    }

    .skills-card {
        margin-top: .5rem;
        display: flex;
    }

    .skill-card {
        margin: 5px;
        padding: 5px;
        text-align: center;
        border: var(--default-border-card);
    }

    /***-------------------------------------------------------
        SHOWCASES
-------------------------------------------------------***/
    .showcase-card {
        display: flex;
    }

    .showcase-card>div {
        max-width: 50%;
    }

    .showcase-card-img>img {
        max-width: 90%;
    }

    .showcase-card-txt {
        padding-top: 0;
    }

    .showcase-card-txt>h3 {
        margin-top: 0;
    }

    .showcase-card-txt>p {
        margin: 1rem 0 1rem 0;
    }

    /***-------------------------------------------------------
        PROJECTS
-------------------------------------------------------***/
    .projects-card {
        display: flex;
        flex-wrap: wrap;
    }

    .project-card {
        flex: 1 33%;
        margin: .5rem;
        max-height: initial;
    }

    /***-------------------------------------------------------
        CONTACT
-------------------------------------------------------***/
    .contact-card {
        /* esse valor deve ser alterado para os dispositivos */
        height: 60vh;
    }


    /***-------------------------------------------------------
        FOOTER
--------------------------------------------------------***/


    /***-------------------------------------------------------
        flickity
-------------------------------------------------------***/
    .flickity-page-dots {
        position: initial !important;
    }

    /***-------------------------------------------------------
        END
-------------------------------------------------------***/
}

@media (min-width: 768px) and (max-width: 1024px) {
    .contact-card {
        /* esse valor deve ser alterado para os dispositivos */
        height: 35vh;
    }
}


/* landscape size B OR tablet size B*/
@media (orientation: landscape) and (min-width: 844px) and (max-width: 968px),
(min-width: 768px) and (max-width: 1024px) {

    /***-------------------------------------------------------
    start
-------------------------------------------------------***/
    .about-card-img>img {
        max-width: 85%;
    }

    .about-card-txt>p {
        padding-right: 0;
        margin-top: 1rem;
    }

    .skills-card {
        margin-top: 1rem;
        display: flex;
    }

    /***-------------------------------------------------------
    HEADER
-------------------------------------------------------***/


    /***-------------------------------------------------------
    HEADER HAMBURGUER
--------------------------------------------------------***/


    /***-------------------------------------------------------
    SECTION
--------------------------------------------------------***/


    /***-------------------------------------------------------
    COVER
--------------------------------------------------------***/

    /***-------------------------------------------------------
    ABOUT & SKILLS
-------------------------------------------------------***/


    /***-------------------------------------------------------
    SHOWCASES
-------------------------------------------------------***/

    /***-------------------------------------------------------
    PROJECTS
-------------------------------------------------------***/


    /***-------------------------------------------------------
    CONTACT
-------------------------------------------------------***/


    /***-------------------------------------------------------
    FOOTER
--------------------------------------------------------***/


    /***-------------------------------------------------------
    flickity
-------------------------------------------------------***/


    /***-------------------------------------------------------
    END
-------------------------------------------------------***/
}