/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */

/* media query for landscap and tablet */
@media (orientation: landscape) and (min-width: 640px),
  (min-width: 768px) and (max-width: 1024px) {
  .about-card {
    display: flex;
  }

  .about-card > div {
    max-width: 50%;
  }

  .about-card-txt > p {
    padding-right: 1rem;
    margin-top: 0;
    min-width: 546px;
  }

  .about-card-img {
    margin-top: 1rem;
    /* display: flex;
        flex-direction: column;
        justify-content: center; */
  }
}

/* media query for ajusts in lineheight in about text */
@media (orientation: landscape) and (min-width: 1024px) and (max-width: 1024px) {
  .about-card-txt > p {
    line-height: calc(var(--lh-body) + 0.65);
  }
}

/* media query for ajusts in landscape and tablet */
@media (orientation: landscape) and (min-width: 844px) and (max-width: 968px),
  (min-width: 768px) and (max-width: 1024px) {
  .about-card-img > img {
    max-width: 80%;
  }

  .about-card-txt > p {
    padding-right: 0;
    margin-top: 1rem;
  }
}

/* media query for desktops */
@media (min-width: 1025px) and (min-height: 625px) {
  .about-card {
    padding-top: 25px;
  
  }
  .about-card-txt {
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }

  .about-card-txt > p {
    padding: 0;
    line-height: calc(var(--lh-body));
    /* line-height: calc(var(--lh-body) + 0.30); */
    /* line-height: calc(var(--lh-body) + 0.80); */
    margin-bottom: 1rem;
  }

  .about-card-img {
    margin-top: 0;
  }

  .about-card-img > img {
    /* margin-top: 25px; */
    /* margin-top: 60px; */
    max-width: 90%;
    /* max-width: 80%; */
    box-shadow: 40px 40px 5px rgba(0, 0, 0, 0.03);
    transition: all 1s linear;
  }
}

@media (min-width: 1025px) and (min-height: 800px) {
  .about-card-img > img {
    margin-top: 15px;
  }  .about-card-img > img {
    max-width: 85%;
  }
}

/* media query for ajusts in desktops */
@media (min-width: 1445px) {
  .about-card-img > img {
    max-width: 65%;
  }

  .about-card-txt > p {
    padding-right: 0;
    margin-top: 1rem;
  }
}

/* media query for ajusts in desktops */
@media (min-width: 1600px) {
}

/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */
/* BACKUP DOS MEDIA QUERYS */

/* 22222222222222222222222222222 */
/* 22222222222222222222222222222 */
/* 22222222222222222222222222222 */
/* 22222222222222222222222222222 */
/* 22222222222222222222222222222 */
/* 22222222222222222222222222222 */
/* 22222222222222222222222222222 */
/* 22222222222222222222222222222 */
/* 22222222222222222222222222222 */

@media (min-width: 916px) {
  .about-card {
    display: flex;
  }

  .about-card-txt {
    max-width: 50%;
    min-width: 50%;
    padding: 5px;
    padding-right: 10px;
  }

  .about-card-img {
    min-width: 50%;
    max-width: 75%;
    padding: 5px;
    margin: auto;
  }
  .about-card-img > img {
    min-width: 100%;
  }
}

@media (min-width: 1190px) {
  .about-card-txt {
    padding: 0px;
  }

  .about-card-img {
    padding: 0px;
  }

  .about-card-img > img {
    min-width: 90%;
    max-width: 90%;
    box-shadow: 40px 40px 5px rgba(0, 0, 0, 0.03);
    transition: all 1s linear;
  }
}