html {
	scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: y mandatory;
}

section {
	height: 100vh;
	scroll-snap-align: start;
	position: relative;
}

/* HEADER */
.header {
	position: fixed;
	display: flex;
	margin: 1rem 2rem 0 2rem;
	width: 98vw;
	align-items: center;
	justify-content: space-between;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	z-index: 1;
}

.logo>h1 {
	font-size: 1.25rem;
}

.menu {
	margin-right: 2rem;
	font-size: 1.1rem;
}

.menu>ul>li>a {
	text-decoration: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

.menu>ul>li>a:hover {
	color: black;
	padding-bottom: 0.75rem;
	border-bottom: 2px solid;
}

.menu>ul {
	position: relative;
	justify-content: space-evenly;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}

.menu>ul>li {
	position: relative;
	color: rgba(0, 0, 0, 0.6);
	display: inline-block;
	margin: 1em;
}

.form-select {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 300;
	font-size: 0.8rem;
	letter-spacing: .2rem;
	border: 1px solid rgba(0, 0, 0, 0.08);
	background-color: rgba(255, 255, 255, 0);

}

/* ESTRUTURA */
/* ESTRUTURA */
/* ESTRUTURA */
.section-content {
	position: relative;
	display: flex;
	width: 80vw;
	height: 100%;
	align-items: center;
	margin: 0 auto;
	padding: 0 2rem;
}

.content-area {
	position: relative;
	width: 100%;
	height: calc(100% - 12em);
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* background-color: rgb(183, 183, 183); */
}

.content-area>p {
	max-width: 600px;
	width: 100%;
	word-break: break-word;
}

/* COVER */
/* COVER */
/* COVER */
.cover {
	text-align: center;
}

.cover-name {
	font-size: 4.5rem;
	font-weight: 100;
	font-family: 'Mansalva', cursive;
}

.cover-profession {
	margin-top: 5rem;
	letter-spacing: .321rem;
	font-size: 1.0rem;
	font-weight: 200;
	font-family: 'Arima', cursive;
	color: rgb(50, 50, 50);
}

/* SHOWCASES */
/* SHOWCASES */
/* SHOWCASES */
.showcases {
	display: flex;
	width: 100%;
	max-width: 350px;
	margin-right: 2.5em;
}

.showcases-card {
	margin-right: 2.5em;
}

.showcases-card>img {
	width: 310px;
	height: 230px;
}


/* ESTÃ OK */

/* FOOTER  */
/* FOOTER  */
/* FOOTER  */
.footer {
	position: fixed;
	bottom: 1rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content {
	height: 75vh;
}

/* FOOTER - SOCIAL MEDIA */
/* COPY */
.connect-links {
	margin-top: 20px;
	min-height: 40px;
}

.connect-links>.link {
	margin: 0;
	margin: 0 15px 0 15px;
	text-decoration: none;
	position: relative;
	display: inline-block;
	height: 35px;
	width: 35px;
}

.icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	fill: rgb(50, 50, 50);
	color: #000;
	margin: 7px auto;
}

.caption,
.icon {
	text-align: center;
}

.connect-links>.link:hover>.icon {
	fill: rgb(0, 0, 0);
}

.connect-links>.link:after,
.connect-links>.link:before {
	position: absolute;
	opacity: 0;
	transition: opacity .15s linear, transform .15s linear, -webkit-transform .15s linear;
	transform: translate3d(0, -8px, 0);
}

.connect-links>.link:after {
	content: "";
	top: 35px;
	left: 13px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 6px solid #222;
	z-index: 100;
}

/* FOOTER - SOCIAL MEDIA - INTERACT */
/* BY ME */
.link {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	position: absolute;
}

.link div {
	display: none;
	position: relative;
	position: absolute;
	left: -2em;
	top: -2.3em;
	text-align: center;
	background-color: rgba(162, 190, 212, 0.401);
	background-color: white;
	color: rgb(61, 60, 60);
	padding: 2px;
	width: 82px;
	border-radius: .375rem;
	border-top-left-radius: 0.375rem;
	border-top-right-radius: 0.375rem;
	border-bottom-right-radius: 0.375rem;
	border-bottom-left-radius: 0.375rem;
	border: 1px solid rgba(0, 0, 0, 0.331);
}

.link:hover #linkedin,
.link:hover #github,
.link:hover #email,
.link:hover #curriculum {
	display: block;
}

#linkedin::after,
#github::after,
#email::after,
#curriculum::after {
	content: " ";
	position: absolute;
	top: 28px;
	left: 0;
	margin-left: 44%;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid black;
}