/***-------------------------------------------------------
        MEDIA QUERIES
-------------------------------------------------------***/

/* media query for landscap and tablet */
@media (orientation: landscape) and (min-width: 640px),
(min-width: 768px) and (max-width: 1024px) {}

/* media query for ajusts in landscape and tablet */
@media (orientation: landscape) and (min-width: 844px) and (max-width: 968px),
(min-width: 768px) and (max-width: 1024px) {}

/* media query for desktops */
@media (min-width: 1025px) and (min-height: 625px) {}

/* media query for ajusts in desktops */
@media (min-width: 1445px) {}

/* media query for ajusts in desktops */
@media (min-width: 1600px) {}

/***-------------------------------------------------------
        VARIABLES
-------------------------------------------------------***/

:root {

    /* clr - color  */
    --clr-primary: rgba(122, 174, 213, 1);

    --clr-base-black: #212529;
    --clr-base-white: #fcf8f4;
    --clr-base-link: #212529;

    /* bg - background-color */
    --bg-clr-base-white: white;
    --bg-clr-cover: linear-gradient(180deg, rgba(122, 174, 213, 1) 0%, rgba(188, 213, 225, 1) 55%, rgba(237, 234, 228, 1) 85%, rgba(255, 255, 255, 0.5) 99%);
    --bg-clr-showcases: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, #405B70 70%);
    --bg-clr-contact: #405B70;

    /* ff - font-family */
    --ff-logo: 'Mansalva', cursive;
    --ff-title: 'Oswald', sans-serif;
    --ff-base: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    /* fs - font-size */
    --fs-h1: 2.488rem;
    --fs-h2: 2.074rem;
    --fs-h3: 1.728rem;
    --fs-h4: 1.44rem;
    --fs-h5: 1.2rem;
    --fs-small: 0.833rem;

    /* lh - line-height */
    --lh-body: 1.75;
    --lh-h: 1.3;

    /* ts - text-shadow */
    --ts-showcases: 0 0 1px rgba(0, 0, 0, 0.5);

    --border-forms: 1px solid rgba(0, 0, 0, 0.08);
    --border-cards: 1px solid rgba(225, 225, 225, .9);
    --border-radius: .5rem;

    scroll-behavior: smooth;
}

/***-------------------------------------------------------
        ONLY CSS
-------------------------------------------------------***/

.section-margin-2 {
    margin: 2rem 0;
}

.section-margin-top-2 {
    margin-top: 2rem;
}

.section-margin-top-4 {
    margin-top: 4rem;
}

.section-margin-top-8 {
    margin-top: 8rem;
}

.section-margin-4 {
    margin: 4rem 0;
}

.section-margin-bottom-4 {
    margin-bottom: 4rem;
}

.section-margin-bottom-8 {
    margin-bottom: 8rem;
}

.section-margin-8 {
    margin: 8rem 0;
}

.section-padding-2 {
    padding: 2rem 0;
}

.section-padding-4 {
    padding: 4rem 0;
}

.section-padding-8 {
    padding: 8rem 0;
}

.section-fullscreen {
    height: 100vh;
}

/* stop the section margin and padding  */
@media (min-width: 1025px) and (min-height: 625px) {

    .section-margin-2 {
        margin: 0;
    }

    .section-margin-top-2 {
        margin-top: 0;
    }

    .section-margin-top-4 {
        margin-top: 0;
    }

    .section-margin-top-8 {
        margin-top: 0;
    }

    .section-margin-4 {
        margin: 0;
    }

    .section-margin-bottom-4 {
        margin-bottom: 0;
    }

    .section-margin-bottom-8 {
        margin-bottom: 0;
    }

    .section-margin-8 {
        margin: 0;
    }

    .section-padding-2 {
        padding: 0;
    }

    .section-padding-4 {
        padding: 0;
    }

    .section-padding-8 {
        padding: 0;
    }
}

/***-------------------------------------------------------
        START
-------------------------------------------------------***/

* {
    font-family: var(--ff-base);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
}

body {
    -webkit-tap-highlight-color: transparent;
    background-color: var(--bg-clr-base-white);
    color: var(--clr-base-black);
    font-family: var(--ff-base);
}

.hidden {
    display: none;
}

/***-------------------------------------------------------
        SECTION
--------------------------------------------------------***/

section {
    position: relative;
    width: 100%;
}

.section-wallpaper {
    width: 100%;
}

.section-content {
    width: 100%;
}

.content-area {
    margin: 0 5%;
}

/* media query for landscap and tablet */
@media (orientation: landscape) and (min-width: 640px),
(min-width: 768px) and (max-width: 1024px) {}

/* media query for ajusts in landscape and tablet */
@media (orientation: landscape) and (min-width: 844px) and (max-width: 968px),
(min-width: 768px) and (max-width: 1024px) {}

/* media query for desktops */
@media (min-width: 1025px) and (min-height: 625px) {
    html {
        scroll-snap-type: mandatory;
        scroll-snap-points-y: repeat(100vh);
        -webkit-scroll-snap-points-y: repeat(100vh);
        scroll-snap-type: y mandatory;
    }

    section {
        position: relative;
        height: 100vh;
        scroll-snap-align: start;
        scroll-behavior: smooth;
    }

    .hidden {
        display: initial;
    }

    .section-wallpaper {
        height: 100%;
    }

    .section-content {
        padding-top: 2rem;
        max-width: 90%;
        height: 100%;
        margin: 0 auto;
    }

    .content-area {
        height: calc(100% - 55px - 93.73px);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* media query for ajusts in desktops */
@media (min-width: 1445px) {
    .section-content {
        max-width: 65%;
    }
}

/* media query for ajusts in desktops */
@media (min-width: 1900px) {
    .section-content {
        max-width: 55%;
    }
}

/***-------------------------------------------------------
        TYPOGRAPHY NORMALIZE
-------------------------------------------------------***/
html {
    font-size: 100%;
}

/*16px*/

body {
    background: white;
    font-family: var(--ff-base);
    font-weight: 400;
    line-height: var(--lh-body);
    color: #000000;
}

p {
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    /* margin: 3rem 0 1.38rem; */
    margin: 1rem 0;
    text-align: center;
    font-family: var(--ff-base);
    line-height: var(--lh-h);
    font-weight: 400;
}

h1 {
    margin-top: 0;
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

h4 {
    font-size: var(--fs-h4);
}

h5 {
    font-size: var(--fs-h5);
}

.title-section {
    padding-left: 4%;
    font-size: var(--fs-h2);
    font-family: var(--ff-title);
    font-weight: 600;
    text-align: left;
}

.title-section::after {
    content: '';
    margin-top: 12px;
    display: block;
    width: 60px;
    height: 3px;
    background: var(--clr-primary);
    bottom: 0;
    left: 0;
}

.title-section-content {
    font-size: calc(var(--fs-h5) - 5px);
    font-family: var(--ff-title);
    font-weight: 600;
}

.title-section-content-projects {
    margin-left: 20px;
    font-weight: 600;
}

.title-left {
    text-align: left;
}

.small {
    font-size: var(--fs-small);
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border: var(--border-cards);
    border-radius: var(--border-radius);
}

/* media query for landscap and tablet */
@media (orientation: landscape) and (min-width: 640px),
(min-width: 768px) and (max-width: 1024px) {
    .title-section {
        padding-left: 2.2rem;
    }

    .title-section-content-showcases {
        margin-top: 0;
        text-align: left;
    }
}

/* media query for ajusts in landscape and tablet */
@media (orientation: landscape) and (min-width: 844px) and (max-width: 968px),
(min-width: 768px) and (max-width: 1024px) {}

/* media query for desktops */
@media (min-width: 1025px) and (min-height: 625px) {
    .title-section {
        padding-left: 0;
    }

    .title-section {
        margin: 0 5%;
    }
}

/* media query for ajusts in desktops */
@media (min-width: 1445px) {}

/* media query for ajusts in desktops */
@media (min-width: 1600px) {}

/***-------------------------------------------------------
        HEADER
-------------------------------------------------------***/

header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.logo {
    display: none;
    opacity: 0;
    -webkit-transition: all .5s cubic-bezier(.08, .81, .87, .71);
    -moz-transition: all .5s cubic-bezier(.08, .81, .87, .71);
    -ms-transition: all .5s cubic-bezier(.08, .81, .87, .71);
    -o-transition: all .5s cubic-bezier(.08, .81, .87, .71);
    transition: all .5s cubic-bezier(.08, .81, .87, .71);
}

/* HEADER MENU HAMBURGUER STYLE */

#menuToggle {
    overflow: hidden;
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menuToggle input {
    display: flex;
    width: 60px;
    height: 60px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    /* hide input */
    z-index: 11;
    /* top of the menu */
}

#menuToggle span {
    width: 30px;
    height: 3px;
    margin-bottom: 7px;
    border-radius: 4px;
    background: var(--clr-base-black);
    -webkit-transition: all .5s cubic-bezier(.08, .81, .87, .71);
    -moz-transition: all .5s cubic-bezier(.08, .81, .87, .71);
    -ms-transition: all .5s cubic-bezier(.08, .81, .87, .71);
    -o-transition: all .5s cubic-bezier(.08, .81, .87, .71);
    transition: all .5s cubic-bezier(.08, .81, .87, .71);
}

#span1 {
    transform-origin: 4px 0px;
}

#span3 {
    transform-origin: bottom right;
}

#menuToggle input:checked~#span1 {
    background: var(--clr-base-black);
    transform: rotate(45deg) translate(8px);
}

#menuToggle input:checked~#span2 {
    background: var(--clr-base-black);
    transform: rotate(495deg) translate(4px);
}

#menuToggle input:checked~#span3 {
    background: var(--clr-base-black);
    transform: rotate(45deg);
    opacity: 0;
}

/* media query for landscap and tablet */
@media (orientation: landscape) and (min-width: 640px),
(min-width: 768px) and (max-width: 1024px) {}

/* media query for ajusts in landscape and tablet */
@media (orientation: landscape) and (min-width: 844px) and (max-width: 968px),
(min-width: 768px) and (max-width: 1024px) {}

/* media query for desktops */
@media (min-width: 1025px) and (min-height: 625px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: .5rem 0;
    }

    .logo {
        display: initial;
        margin-left: 1rem;
        padding: 1rem;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .logo>p {
        margin: 0;
        padding: 0;
    }
}

/* media query for ajusts in desktops */
@media (min-width: 1445px) {}

/* media query for ajusts in desktops */
@media (min-width: 1600px) {}

/***-------------------------------------------------------
        HEADER HAMBURGUER
--------------------------------------------------------***/

nav {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-size: 5vh;
    background-color: white;
    opacity: 1;
    transform: translate(0, 0%);
    -webkit-transition: .9s 0s ease-in-out;
    transition: .9s 0s ease-in-out;
}

.nav-content-hidden {
    opacity: 0;
    transform: translate(0, -200%);
    -webkit-transition: .9s 0s ease-in-out;
    transition: .9s 0s ease-in-out;
}

.nav-content {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

.nav-item {
    padding: 1rem 0;
}

.nav-item>a {
    color: var(--default-color-text);
    text-decoration: none;
}

.form-select {
    margin-top: 1rem;
    padding: .4rem 4rem .4rem .7rem;
    border: var(--border-cards);
    border-radius: .375rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    font-size: 1rem;
    color: var(--default-color-text);
}

.form-select:hover {
    color: black;
    border-bottom: var(--border-cards);
}

/* media query for landscap and tablet */
@media (orientation: landscape) and (min-width: 640px),
(min-width: 768px) and (max-width: 1024px) {}

/* media query for ajusts in landscape and tablet */
@media (orientation: landscape) and (min-width: 844px) and (max-width: 968px),
(min-width: 768px) and (max-width: 1024px) {}

/* media query for desktops */
@media (min-width: 1025px) and (min-height: 625px) {
    #menuToggle {
        display: none;
    }

    nav {
        position: initial;
        display: block;
        opacity: 1;
        margin: 0;
        margin-right: 7%;
        padding: 0;
        padding: 1rem;
        width: auto;
        height: auto;
        font-size: 1rem;
        background-color: initial;
    }

    .nav-content-hidden {
        opacity: 1;
        transform: translate(0, -0%);
        -webkit-transition: .9s 0s ease-in-out;
        transition: .9s 0s ease-in-out;
    }

    .nav-content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: rgba(0, 0, 0, 0.6);
    }

    .nav-item {
        padding: 0 1rem;
        font-size: 1.1rem;
    }

    .nav-item>a:hover {
        color: var(--clr-base-link);
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 0.75rem;
    }

    .nav-item-select {
        padding: 0 1rem 1rem 1rem;
    }

    .form-select {
        margin-top: 1rem;
        font-size: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.082);
    }

    .form-select:hover {
        color: var(--clr-base-link);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .hidden-mobile {
        display: none;
    }
}

/* media query for ajusts in desktops */
@media (min-width: 1445px) {
    nav {
        margin-right: 17%;
    }
}

/* media query for ajusts in desktops */
@media (min-width: 1600px) {
    nav {
        margin-right: 24%;
    }
}

/***-------------------------------------------------------
        COVER
--------------------------------------------------------***/
#cover-wallpaper {
    background: var(--bg-clr-cover);
}

.cover-content-area {
    display: flex;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    align-items: center;
}

.cover-card {
    width: 100%;
    text-align: center;
}

.cover-card-name {
    font-size: 11vw;
    font-weight: 100;
    font-family: var(--ff-logo);
}

.cover-card-profession {
    letter-spacing: .2rem;
    font-size: 5vw;
    font-weight: 400;
    color: var(--default-color-text);
}

.scrolldown {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    font-size: .7rem;
    text-align: center;
    letter-spacing: .15rem;
    color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 1s cubic-bezier(.08, .81, .87, .71);
    -moz-transition: all 1s cubic-bezier(.08, .81, .87, .71);
    -ms-transition: all 1s cubic-bezier(.08, .81, .87, .71);
    -o-transition: all 1s cubic-bezier(.08, .81, .87, .71);
    transition: all 1s cubic-bezier(.08, .81, .87, .71);
}


/* media query for landscap and tablet */
@media (orientation: landscape) and (min-width: 640px),
(min-width: 768px) and (max-width: 1024px) {
    .cover-card-name {
        font-size: 7vw;
    }

    .cover-card-profession {
        letter-spacing: .2rem;
        font-size: 3vw;
    }
}

/* media query for ajusts in landscape and tablet */
@media (orientation: landscape) and (min-width: 844px) and (max-width: 968px),
(min-width: 768px) and (max-width: 1024px) {}

/* media query for desktops */
@media (min-width: 1025px) and (min-height: 625px) {
    .cover-card-name {
        font-size: 5vw;
    }

    .cover-card-profession {
        margin-top: 2rem;
        letter-spacing: .4rem;
        font-size: 1.5vw;
    }
}

/* media query for ajusts in desktops */
@media (min-width: 1445px) {}

/* media query for ajusts in desktops */
@media (min-width: 1600px) {
    .cover-card-name {
        font-size: 3vw;
    }

    .cover-card-profession {
        margin-top: 2rem;
        letter-spacing: .4rem;
        font-size: 1vw;
    }
}

/***-------------------------------------------------------
        ABOUT & SKILLS
-------------------------------------------------------***/
/* 
#about {
    margin-top: 3rem;
} */

#about-wallpaper {
    background: var(--bg-clr-base-white);
}

/* .about-card-img>img {
    max-width: 100%;
} */

#skills-wallpaper {
    background: var(--bg-clr-base-white);
}

.skill-card {
    font-size: var(--fs-small);
}

/* .skill-card>h3 {
    font-size: var(--fs-h5);
    font-weight: 600;
} */

/* media query for landscap and tablet */
@media (orientation: landscape) and (min-width: 640px),
(min-width: 768px) and (max-width: 1024px) {
    .about-card {
        display: flex;
    }

    .about-card>div {
        max-width: 50%;
    }

    .about-card-txt>p {
        padding-right: 1rem;
        margin-top: 0;
    }

    .about-card-img {
        margin-top: 1rem;
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
    }

    .skills-card {
        margin-top: .5rem;
        display: flex;
    }

    .skill-card {
        margin: 5px;
        padding: 5px;
        text-align: center;
        border: var(--border-cards);
    }
}

/* media query for ajusts in lineheight in about text */
@media (orientation: landscape) and (min-width: 1024px) and (max-width: 1024px) {
    .about-card-txt>p {
        line-height: calc(var(--lh-body) + .65);
    }
}

/* media query for ajusts in landscape and tablet */
@media (orientation: landscape) and (min-width: 844px) and (max-width: 968px),
(min-width: 768px) and (max-width: 1024px) {
    .about-card-img>img {
        max-width: 80%;
    }

    .about-card-txt>p {
        padding-right: 0;
        margin-top: 1rem;
    }

    .skills-card {
        margin-top: 1rem;
        display: flex;
    }
}

/* media query for desktops */
@media (min-width: 1025px) and (min-height: 625px) {

    .about-card-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-card-txt>p {
        padding: 0;
        line-height: calc(var(--lh-body) + .85);
        margin-bottom: 1rem;
    }

    .about-card-img {
        margin-top: 0;
    }

    .about-card-img>img {
        max-width: 75%;
        box-shadow: 40px 40px 5px rgba(0, 0, 0, 0.03);
        transition: all 1s linear;
    }

    .skill-card {
        margin: 1rem;
        padding: 2rem;
        font-size: initial;
    }

    /* .skill-card>h3 {
        font-size: var(--fs-h4);
        margin-top: 0;
        margin-bottom: 2rem;
    } */

    .skill-card>p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

/* media query for ajusts in desktops */
@media (min-width: 1445px) {
    .about-card-img>img {
        max-width: 65%;
    }

    .about-card-txt>p {
        padding-right: 0;
        margin-top: 1rem;
    }

    .skills-card {
        margin-top: 1rem;
        display: flex;
    }
}

/* media query for ajusts in desktops */
@media (min-width: 1600px) {}

/***-------------------------------------------------------
        SHOWCASES
-------------------------------------------------------***/

#showcases-wallpaper {
    background: var(--bg-clr-showcases);
}

.showcases-card {
    width: 100%;
    margin-top: 2rem;
}

.showcase-card>div {
    max-width: 100%;
}

/* .showcase-card-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.showcase-card-img>img {
    max-width: 95%;
}

.showcase-card-txt {
    width: 90vw;
    max-width: calc(100vw - 10%);
    padding: .75rem;
    margin-bottom: 1rem;
    color: var(--clr-base-white);
}

.showcase-btn {
    width: 75px;
    padding: .6rem;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: .75rem;
    color: var(--clr-base-link);
    background-color: var(--bg-clr-base-white);
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.showcase-btn:hover {
    box-shadow: 2px 2px 15px rgba(35, 35, 35, 1);
}

/* media query for landscap and tablet */
@media (orientation: landscape) and (min-width: 640px),
(min-width: 768px) and (max-width: 1024px) {
    .showcase-card {
        display: flex;
    }

    .showcase-card>div {
        max-width: 50%;
    }

    .showcase-card-img>img {
        max-width: 90%;
    }

    .showcase-card-txt {
        padding-top: 0;
    }

    /* .showcase-card-txt>h3 {
        margin-top: 0;
        text-align: left;
    } */

}

/* media query for ajusts in landscape and tablet */
@media (orientation: landscape) and (min-width: 844px) and (max-width: 968px),
(min-width: 768px) and (max-width: 1024px) {}

/* media query for desktops */
@media (min-width: 1025px) and (min-height: 625px) {
    .showcase-card-img>img {
        max-width: 70%;
    }

    .showcase-card-txt {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
    }

    /* .showcase-card-txt>h3 {
        text-align: left;
        font-size: 1.2rem;
        margin: 2rem 0;
    } */

    .showcase-card-txt>p {
        max-width: 80%;
        margin-top: 0;
    }

    .showcase-btn {
        padding: .2rem;
    }
}

/* media query for ajusts in desktops */
@media (min-width: 1445px) {
    .showcase-card-img>img {
        max-width: 70%;
        float: right;
    }

    .showcase-card-txt>p {
        max-width: 70%;
    }
}

/* media query for ajusts in desktops */
@media (min-width: 1600px) {}

/***-------------------------------------------------------
        PROJECTS
-------------------------------------------------------***/

/* #projects {
    margin: 4rem 0;
} */

#projects-wallpaper {
    background: var(--bg-clr-base-white);
}

.project-card {
    margin: .5rem 0;
    padding: .5rem;
    border: var(--border-cards);
    font-size: var(--fs-small);
}

.project-card>p {
    margin: 0;
    padding: 5px 0;
}

.project-card-icon {
    position: absolute;
    margin-top: 3px;
}

.project-card-techstack {
    display: flex;
}

.project-card-techstack-item {
    margin-top: .65rem;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.project-language {
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #f1e05a;
}

/* media query for landscap and tablet */
@media (orientation: landscape) and (min-width: 640px),
(min-width: 768px) and (max-width: 1024px) {
    .projects-card {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }

    .project-card {
        margin: .5rem;
    }
}

/* media query for ajusts in landscape and tablet */
@media (orientation: landscape) and (min-width: 844px) and (max-width: 968px),
(min-width: 768px) and (max-width: 1024px) {}

/* media query for desktops */
@media (min-width: 1025px) and (min-height: 625px) {
    .projects-card {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}

/* media query for ajusts in desktops */
@media (min-width: 1445px) {}

/* media query for ajusts in desktops */
@media (min-width: 1600px) {}

/***-------------------------------------------------------
        CONTACT
-------------------------------------------------------***/
#contact {
    height: 100%;
    color: var(--clr-base-white);
}

#contact-wallpaper {
    height: 100%;
    background: var(--bg-clr-contact);
}

/* media query for landscap and tablet */
@media (orientation: landscape) and (min-width: 640px),
(min-width: 768px) and (max-width: 1024px) {}

/* media query for ajusts in this component  */
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {}

/* media query for ajusts in landscape and tablet */
@media (orientation: landscape) and (min-width: 844px) and (max-width: 968px),
(min-width: 768px) and (max-width: 1024px) {}

/* media query for desktops */
@media (min-width: 1025px) and (min-height: 625px) {
    #contact {
        height: 100vh;
    }

    .contact-card {
        width: 100%;
    }
}

/* media query for ajusts in desktops */
@media (min-width: 1445px) {}

/* media query for ajusts in desktops */
@media (min-width: 1600px) {}

/***-------------------------------------------------------
        FOOTER
--------------------------------------------------------***/

footer {
    z-index: 10;
    position: fixed;
    padding-bottom: .5rem;
    bottom: -70px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    opacity: 1;
    transform: translate(0, 0%);
    -webkit-transition: .9s 0s ease-in-out;
    transition: .9s 0s ease-in-out;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media>a {
    color: var(--default-color-text);
    text-decoration: none;
}

.social-media>.link {
    position: relative;
    margin: 0 1.5rem 0 1.5rem;
}

.icon {
    width: 24px;
    height: 24px;
    fill: rgb(80, 80, 80);
    color: black;
    margin-top: 1rem;
}

.social-media>.link:hover>.icon {
    fill: black;
}

.social-media>.link:after,
.social-media>.link:before {
    opacity: 0;
}

.link {
    position: absolute;
}

.link div {
    display: none;
    position: absolute;
    left: -2rem;
    top: -2rem;
    text-align: center;
    background-color: white;
    padding: 2px;
    width: 82px;
    border-radius: var(--border-radius);
    border: var(--border-cards);
}

#linkedin::after,
#github::after,
#email::after,
#curriculum::after {
    content: " ";
    position: absolute;
    top: 2rem;
    left: 0;
    margin-left: 44%;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid black;
}

.link:hover #linkedin,
.link:hover #github,
.link:hover #email,
.link:hover #curriculum {
    display: block;
}

/* media query for landscap and tablet */
@media (orientation: landscape) and (min-width: 640px),
(min-width: 768px) and (max-width: 1024px) {}

/* media query for ajusts in landscape and tablet */
@media (orientation: landscape) and (min-width: 844px) and (max-width: 968px),
(min-width: 768px) and (max-width: 1024px) {}

/* media query for desktops */
@media (min-width: 1025px) and (min-height: 625px) {}

/* media query for ajusts in desktops */
@media (min-width: 1445px) {}

/* media query for ajusts in desktops */
@media (min-width: 1600px) {}

/***-------------------------------------------------------
        FLICKITY
-------------------------------------------------------***/

.flickity-page-dots {
    bottom: -1rem !important;
}

.flickity-page-dots .dot {
    background: var(--clr-base-white) !important;
}

.flickity-prev-next-button.previous {
    display: none !important;
}

.flickity-prev-next-button.next {
    display: none !important;
}

.scrollable-place {
    height: 3000px;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

/* media query for landscap and tablet */
@media (orientation: landscape) and (min-width: 640px),
(min-width: 768px) and (max-width: 1024px) {
    .flickity-page-dots {
        bottom: -0rem !important;
    }
}

/* media query for ajusts in landscape and tablet */
@media (orientation: landscape) and (min-width: 844px) and (max-width: 968px),
(min-width: 768px) and (max-width: 1024px) {}

/* media query for desktops */
@media (min-width: 1025px) and (min-height: 625px) {
    .flickity-page-dots {
        position: absolute !important;
        margin-bottom: -70px !important;
    }

    .flickity-prev-next-button.previous {
        display: initial !important;
        left: -100px !important;
    }

    .flickity-prev-next-button.next {
        display: initial !important;
        right: -100px !important;
    }
}

/* media query for ajusts in desktops */
@media (min-width: 1445px) {}

/* media query for ajusts in desktops */
@media (min-width: 1600px) {}

/***-------------------------------------------------------
        END HOME
-------------------------------------------------------***/

/***-------------------------------------------------------
        UTILS
-------------------------------------------------------***/
.display-none {
    display: none;
}

.oblique {
    font-style: oblique;
}

/* <a href="javascript: void(0)">ocultar descrição</a> */

/***-------------------------------------------------------
        CV - teste 1
-------------------------------------------------------***/
/***-------------------------------------------------------
        CV - teste 1
-------------------------------------------------------***/

#resume {
    height: initial;
    scroll-snap-align: initial;
    scroll-behavior: initial;

    padding-bottom: 5rem;
}

#resume-wallpaper {}

.backarrow {
    margin: 0 5%;
    margin-bottom: 2rem;
    padding: 2rem 0 0 0;
    width: 90%;
    display: flex;
    align-items: center;
}

.backarrow>div {
    width: auto;
}

.backarrow-icon {
    width: 2rem;
}

.backarrow-txt {
    margin: 1rem;
    margin-bottom: 25px;
}

#googlemaps-icon {
    width: .70rem;
}

.content-area-resume {
    margin: 0 5%;
}

.col-50 {}

.col-about {}

.col-professional {}

.resume-card-title {}

.resume-title {
    max-width: 80%;
    font-size: 1.45rem;
}

.resume-card {
    padding: 0 1rem 1rem 1rem;
    border-left: 2px solid #1f5297;
    position: relative;

    max-width: 50ch;
    line-height: 1.5;
}

.resume-card:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    left: -8px;
    top: 0;
    background: #fff;
    border: 2px solid #1f5297;
}

.resume-card-expertise-list {
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    padding-left: 20px;
    max-width: 50ch;
    /* list-style-type: none; */
    font-size: 1rem;
}

.resume-card-expertise-list>li {
    padding-bottom: 5px;
}


.local {
    font-size: 1.2rem;
    line-height: 1.2;
}

.local>p {
    margin: .25rem 0;
}

.professional-local {
    font-size: .90rem;
    font-weight: 600;
}

.resume-card-period {
    font-size: .75rem;
    background: #e4edf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin: 0;
    margin-bottom: 5px;
}

.resume-card-period-2 {
    font-size: .75rem;
    text-align: left;
    background: #e4edf9;
    padding: 3px 3px;

}

.not-bold {
    font-weight: 400;
}

.margin-left-2 {
    margin-left: 5px;
}

.resume-card-more {
    border: none;
}

.resume-card-more:before {
    width: 0;
    height: 0;
    border: none;
}

.resume-card-btn-expand {
    font-size: .75rem;
    /* padding: 5px 15px; */
    display: inline-block;
    font-weight: 600;
    margin: 0;
    /* margin-bottom: 5px; */
}

/* [class*=" icofont-"],
[class^=icofont-] {
    font-family: IcoFont !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    line-height: 1;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
} */

/* media query for landscap and tablet */
@media (orientation: landscape) and (min-width: 640px),
(min-width: 768px) and (max-width: 1024px) {}

/* media query for ajusts in landscape and tablet */
@media (orientation: landscape) and (min-width: 844px) and (max-width: 968px),
(min-width: 768px) and (max-width: 1024px) {}

/* media query for desktops */
@media (min-width: 1024px) and (min-height: 625px) {
    .content-area-resume {
        margin-top: 2rem;
        height: initial;
        align-items: initial;
        /* display: grid;
    grid-template-columns: repeat(2, minmax(50ch, 1fr)); */
        display: flex;
        justify-content: center;
    }

    .col-50 {
        /* margin: 0 0 0 .5%; */
        width: 50%;
        /* padding: 2rem;
    margin: 2rem; */
        /* position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; */
    }

    /* .col-about {
    top: 0;
} */
}

/* media query for ajusts in desktops */
@media (min-width: 1445px) {}

/* media query for ajusts in desktops */
@media (min-width: 1600px) {}

/***-------------------------------------------------------
        CV - teste 2
-------------------------------------------------------***/
/***-------------------------------------------------------
        CV - teste 2
-------------------------------------------------------***/